.activeToggle {
  -webkit-appearance: none;
  appearance: none;
  width: 75px;
  height: 25px;
  padding-left: 10px;
  padding-top: 4px;
  margin: 0;
  border-radius: 16px;
  background: radial-gradient(circle 8px, white 80%, transparent calc(100% + 0px)) #ccc -16px;
  transition: 0.3s ease-in-out;
  font-family: var(--fontRegular);
  font-size: 11px;
  cursor: pointer;
  background-position: -25px;
}

.activeToggle::before {
  content: "Inactive";
  color: white;
  text-shadow: 0 1px black;
  padding-left: 16px;
}

.activeToggle:checked{
  padding-left: 5px;
  background-color: var(--successColor);
  background-position: 25px;
}

.activeToggle:checked::before {
  content: "Active";
  padding-left: 5px;
}

input[type="checkbox"]{
  background-color: red;
}