/* Dashbord Styles */

.parentContainer{
  width: 100%;
  float: left;
}

.container{
  padding: 50px 15px;
  box-shadow: var(--outlineShadow);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  /* margin: 15px; */
  cursor: pointer;
}

.contain {
  --bs-gutter-y: 1.5rem;

}

.imgContainer{
  width: 50px;
  height: 50px;
  border-radius: 6px;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardTitle{
  color: var(--blackColor);
  size: var(--textMd);
  margin-top: 0.5rem;
  margin-bottom: 0;
}


/* .container:first-child{
>>>>>>> 771a24c (responsive)
  margin-left: 15px;
}
.container:nth-child(4n-7){
  margin-left: 15px;
<<<<<<< HEAD
}
=======
} */

/* Vehicle Styles */

.tableResponsive tr th{
  min-width: 150px;
  max-width: 180px;
  font-size: var(--textXs);
}

.tableBody tr td{
  font-size: 13px;
}

.actionIcons{
  width: 15px;
  height: 15px;
  margin: 0 5px;
  cursor: pointer;
}

.viewImgIcon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.paginateContainer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.input{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: unset;
  padding: 5px 8px;
  border-radius: 5px;
}

.label{
  font-size: var(--textSm);
  margin: 0;
  font-family: var(--fontSemibold);
  margin-bottom: 2px;
}