/* Auth styles */

.container {
  background: url("../Assets/Images/authBg.png") no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding: 5% 15%;
  display: flex;
  justify-content: space-around;
}

.leftContainer {
  width: 40%;
  float: left;
  align-self: center;
  text-align: center;
}

.rightContainer {
  width: 35%;
  float: left;
  align-self: center;
}

/* Admin Styles */

.adminContainer {
  width: 100%;
  float: left;
}


.adminLeftContainer , .adminLeftContainer1 {
  width: 350px;
  float: left;
  position: fixed;
}


.adminLeftContainer1{
  width: 280px !important;

}
.adminChildLeftConatiner , .adminChildLeftConatiner1{
  background-color: var(--lightPrimaryColor);
  border-radius: 15px;
  margin: 15px;
  box-shadow: var(--outlineShadow);
}

.adminChildLeftConatiner{
    height: calc(100vh - 30px);
 
}

.adminChildLeftConatiner1{
  margin: 0px !important;
  border-radius: 0px 15px 15px 0px !important;
  height: 100vh;


}

.adminInnerLeftContainer , .adminInnerLeftContainer1{
  padding: 30px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.adminInnerLeftContainer1{
  padding: 0px 0px 0px 30px !important;  
}

.link {
  margin: 0;
  padding: 10px;
  border-radius: 8px 0px 0px 8px;
  font-family: var(--fontMedium);
  font-size: var(--textSm);
  text-transform: capitalize;
  margin: 15px 0px;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.adminRightContainer {
  width: calc(100% - 350px);
  float: left;
  margin-left: 350px;
  margin-top: 15px;
  padding: 0px 20px;
}

.profileImgContainer{
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
}

.profileImg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profileImgOuterBorder{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primaryColor);
  margin-left: auto;
}

.username{
  font-family: var(--fontMedium);
  color: var(--dangerColor);
}

.titleContainer{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;

  flex-wrap: wrap;
}

.title{
  font-family: var(--fontMedium);
  /* width: 50%; */
  float: left;
  margin: 0;
}

.stickyContainer{
  width: 100%;
  float: left;
  position: sticky;
  top: 0;
  background-color: var(--whiteColor);
}

.searchParentContainer{

  /* width: 30%; */
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchContainer{
  width: 250px;
  margin-right: 10px;
  float: left;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px;
  border-radius: 7px;
}

.searchInput{
  border: none;
  width: 88%;
  padding: 5px;
  outline: unset;
}

.searchIcon{
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.addBtn{
  border: unset;
  background-color: var(--secondaryColor);
  color: var(--whiteColor);
  padding: 10px 30px;
  border-radius: 7px;
}

.menuIcon{
  width: 20px;
  height: 20px;
  align-self: center;
}

/* Super admin Styles */

.superadminContainer{
  background-color: var(--lightPrimaryColor);
  width: 100%;
  float: left;
}

.superadminLeftContainer{
  width: 300px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.superadminRightContainer{
  background-color: var(--superadminBg);
  width: calc(100% - 300px);
  margin-left: 300px;
  border-radius: 35px 0  0 35px;
  padding: 20px;
  min-height: 100vh;
  max-height: 100vh;
  overflow: auto;
  position: fixed;
}

.superAdminProfileImgContainer{
  margin: 50px 0;
}

.superAdminProfieImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.superAdminProfileTxt{
  font-size: var(--textSm);
  font-family: var(--fontSemibold);
}

.superAdminMenuLinkIcons{
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 10px;
}

.superAdminMenuLinks{
  font-size: var(--textSm);
  font-family: var(--fontMedium);
  padding: 8px 15px;
  border-radius: 7px;
  align-self: center;
  width: 212.66px;
  cursor: pointer;
  display: flex;
}

.superAdminMenuLinkContainer{
  min-height: 465px;
  max-height: 465px;
  overflow: auto;
  scrollbar-color: var(--whiteColor) var(--whiteColor);
  scrollbar-width: none;
} 

.logoutTxt{
  font-size: var(--textSm);
  font-family: var(--fontMedium);
  align-self: center;
  margin: 0;
  cursor: pointer;
  display: flex;
}

.logoutImg{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  align-self: center;
}

/* Custom scrollbar Styles */

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: var(--whiteColor);
}

::-webkit-scrollbar-thumb {
  background: var(--whiteColor);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--whiteColor);
}

/* Responsive */

.Toggle{
  height: 18px;
  margin-top: 3px;
  border: 0.913133px solid rgba(241, 74, 69, 0.08);
  box-shadow: 0px 3px 3.65253px rgba(0, 0, 0, 0.1);
  display: none;
}

.canvasClose{
  display: flex;
  justify-content: flex-end;
  padding : 10px 10px 0px 0px;
}
.canvasClose>button {
  background-color: white !important;
  width: 30px;
  height: 30px;
  border: none !important;
  outline: none !important;
  border-radius: 50% !important;
  color: var(--primaryColor);
  font-weight: bolder;
}


@media (min-width : 992px) and  (max-width :1200px){
  .adminLeftContainer{
    width: 300px !important;
  }

  .adminRightContainer {
    width: calc(100% - 300px) !important;
    margin-left: 300px !important;
  }

  .rightContainer{
    width: 50% !important;
  }
}

@media (min-width : 768px) and  (max-width :991px){
  .adminLeftContainer{
    width: 250px !important;
  }

  .adminRightContainer {
    width: calc(100% - 250px) !important;
    margin-left: 250px !important;
  }
  .rightContainer{
    width: 55% !important;
  }
}

@media (max-width : 767px){
  .adminLeftContainer{
    display: none !important;
  }

  .adminRightContainer {
    width:100% !important;
    margin-left: 0px !important;
  }
  .Toggle{
    display: block !important;
  }
  .title{
    font-size: var(--textMd) !important;
  }

  .username{
    font-size: var(--textMd) !important;
  }
  .rightContainer{
    width: 100% !important;
    margin-top: -50px !important;
   
  }
  .leftContainer{
    display: none !important;
  }
  .container{
    padding: 5% 10% !important;

  
  }
}

@media (min-width : 768px){
  .title{
    font-size: var(--textLg);
  }
  .username{
    font-size: var(--textLg);
  }
}


